@import '../../node_modules/bootstrap-css-only/css/bootstrap.css';
@import '../../node_modules/open-color/open-color.less';
/*@import '_settings';*/


body {
  background-color: @oc-gray-1;
  font-family: Avenir, 'Lato', 'Helvetica Neue', Helvetica, Arial;
  color: @oc-gray-9;
}

.wrapper {
  background-color: white;
  border: 1px solid @oc-gray-3;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1);
  margin-left: -15px;
  margin-right: -15px;
}

.node circle {
  stroke: @oc-gray-9;
  stroke-width: 2;
}

.node text {
  font-size: 12px;
  font-family: inherit;
  alignment-baseline: central;
}

.node-parent circle {
  fill: @oc-gray-6;
}

.node-child circle {
  fill: @oc-gray-3;
}

.node-parent text {
  text-anchor: end;
}

.node-child text {
  text-anchor: start;
}
.node {
  .hover {
    cursor: pointer;
    fill: @oc-blue-7;
  }
}
.connetion {
  fill: none;
  stroke: @oc-gray-5;
  stroke-linecap: round;
}

.link {
  cursor: pointer;
}
.hidden {
  display: none;
}

.axis {
  line {
    stroke: fade(@oc-gray-7, 10%);
  }
  path {
    stroke: none;
  }
  text {
    font-family: Avenir, 'Lato' !important;
    font-size: 10px;
    fill: @oc-gray-7;
  }
}
.axis-x {
  text-anchor: middle;
}

@c-sh: @oc-orange-8;
@c-d: @oc-blue-8;
@c-b: @oc-green-8;
@c-s: @oc-pink-8;

.individual-curve-shapeable {
  stroke: @c-sh;
  fill: fade(@oc-orange-8, 10%);
}
.individual-curve-deferrable {
  stroke: @c-d;
  fill: fade(@oc-blue-8, 10%);
}
.individual-curve-batt {
  stroke: @c-b;
  fill: fade(@oc-green-8, 10%);
}
.individual-curve-solar {
  stroke: @c-s;
  fill: fade(@oc-pink-8, 10%);
}

h1 {
  margin-left: -15px;
  padding-left: 0;
  display: inline-block;
}
h3 {
  padding-top: 0;
  margin-top: 0;
}
.clock, .buttons {
  display: inline-block;
}
.buttons {
  margin-left: 15px;
}
.legends {
  display: flex;
  div {
    margin-right: 15px;
    margin-top: 4px;
    display: flex;
    font-weight: bold;
  }
  span {
    display: inline-block;
    width: 32px;
    height: 16px;
    margin-right: 5px;
  }
  .shapeable .color {
    background-color: @c-sh;
  }
  .deferrable .color {
    background-color: @c-d;
  }
  .solar .color {
    background-color: @c-s;
  }
  .battery .color {
    background-color: @c-b;
  }
}
.timer {
  stroke-width: 2px;
  stroke: @oc-gray-9;
}
.y-label {
  text-anchor: middle;
}
.graph-start {
  display: inline-block;
  margin-left: 15px;
  color: @oc-gray-4;
}

.row {
  padding-bottom: 30px;
}